#ventas h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: #0b2a3f;
    background-color: #81cd22;
    border: solid;
    border-width: 5px;
}

#p-menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #0b2a3f;
    font-weight: bold;
    text-decoration: none;
}

#p-menu:hover {
    color: #81cd22;
  }

  #sales-container {
    font-family: 'inter', sans-serif;
    color: #000000;
    font-size: 16px;
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    width: 80%;
    margin: 20px auto; /* Centrar la tabla horizontalmente */
  }
  
  #sales-container th, #sales-container td {
    background-color: #f2f2f2;
    border: 1px solid #dddddd; /* Agregar bordes a las celdas */
    padding: 8px; /* Agregar espacio interno */
    text-align: left; /* Alinear texto a la izquierda */
  }
  
  #sales-container th {
    background-color: #0B2A3F; /* Color de fondo para encabezados */
    color: #FFFF;
  }
  
  #sales-container-wrapper {
    max-height: 70vh; /* Establece una altura máxima para el contenedor */
    overflow-y: auto; /* Agrega un desplazamiento vertical cuando la tabla sea más larga que la altura máxima */
  }